name: Playwright Tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers (Chromium only)
        # This line is changed to install only 'chromium'
        run: npx playwright install chromium --with-deps
      - name: Run Playwright tests
        env:
          STANDARD_USER: ${{ secrets.STANDARD_USER }}
          PROBLEM_USER: ${{ secrets.PROBLEM_USER }}
          ERROR_USER: ${{ secrets.ERROR_USER }}
          VISUAL_USER: ${{ secrets.VISUAL_USER }}
          LOCKED_USER: ${{ secrets.LOCKED_USER }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: npm run test:pw
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright/reports/
          retention-days: 30
